############################
# ENV & SECRETS
############################
.env
*.env
**/.env

############################
# BUILD FILES
############################
target/
**/target/
build/
out/

############################
# IDE FILES
############################
.idea/
**/.idea/
.vscode/
*.iml

############################
# OS FILES
############################
.DS_Store
Thumbs.db

############################
# LOGS
############################
logs/
*.log

############################
# DOCKER
############################
docker-data/
