server:
  port: 8083

app:
  message: Hello Order

spring:
  config:
    import: optional:configserver:http://config-server:8888

  cloud:
    stream:
      bindings:
        createOrder-out-0:
          destination: order.exchange
          content-type: application/json
      kafka:
        binder:
          brokers: kafka:9092
  #      rabbit:
  #        bindings:
  #          createOrder-out-0:
  #            producer:
  #              routing-key-expression: '''order.tracking'''

  #  rabbitmq:
  #    host: woodpecker.rmq.cloudamqp.com
  #    port: 5672
  #    username: kmjkqbni
  #    password: NIltQobgxmGHzlayz4Dep5Xuxn_N19wA
  #    connection-timeout: 30000
  #    virtual-host: kmjkqbni
  datasource:
    url: jdbc:postgresql://postgres:5432/mydb
    username: admin
    password: admin
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  health:
    circuitbreakers:
      enabled: true
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://zipkin:9411/api/v2/spans

eureka:
  client:
    service-url:
      defaultZone: http://eureka:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    hostname: localhost

logging:
  file:
    name: logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-file-size: 5MB
      max-history: 7

# Circuit Breaker
resilience4j:
  circuitbreaker:
    instances:
      productService:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        waitDurationInOpenState: 10s
        failureRateThreshold: 50
        automaticTransitionFromOpenToHalfOpenEnabled: true
        slidingWindowType: count_based
  retry:
    instances:
      retryBreaker:
        maxAttempts: 5
        waitDuration: 500ms
  ratelimiter:
    instances:
      reteBreaker:
        timeout-duration: 0
        limit-refresh-period: 4s
        limit-for-period: 2

#rabbitmq:
#  exchange:
#    name: order.exchange
#  queue:
#    name: order.queue
#  routing:
#    key: order.tracking