server:
  port: 8081

spring:
  application:
    name: user-service

  config:
    import: optional:configserver:http://config-server:8888

  data:
    mongodb:
      uri: ${MONGO_URI}
      database: ${MONGO_DB}

  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}
    virtual-host: ${RABBITMQ_VHOST}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL}
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: ${ZIPKIN_URL}

keycloak:
  admin:
    username: ${KEYCLOAK_ADMIN_USER}
    password: ${KEYCLOAK_ADMIN_PASSWORD}
    service-url: ${KEYCLOAK_URL}
    realm: ecom-app
    client-id: admin-cli
    client-uid: ${KEYCLOAK_CLIENT_UID}

logging:
  file:
    name: logs/${spring.application.name}.log
